<h1>Components App</h1>
<app-pizza-toppings></app-pizza-toppings>
<app-tjs-multiplication></app-tjs-multiplication>


<app-sfe-addition></app-sfe-addition>
<app-dch-map></app-dch-map>
<app-toggle-image></app-toggle-image>
<app-dmw-addition></app-dmw-addition>
<app-pizza-calculator></app-pizza-calculator>
<app-tjs-addition></app-tjs-addition>
<app-num-products></app-num-products>
<app-ndh-pizza-selector></app-ndh-pizza-selector>
<app-ts-addition></app-ts-addition>
<app-ska-addition></app-ska-addition>
<app-comment-box></app-comment-box> <!-- Comment Box -->