<mat-card>
    <mat-card-title>
        Matthew's Temperature Converter
    </mat-card-title>
    <mat-card-content>
        <div>
            <mat-form-field>
                <mat-label>
                    Temperature
                </mat-label>
                <input 
                    matInput 
                    type="number"
                    [(ngModel)]="temperature"  
                    placeholder="Enter a value" 
                />
            </mat-form-field>
        </div>
        <div>
            <mat-radio-group
                [(ngModel)]="conversionType"
            >
                <mat-radio-button
                    value="fahrenheit"
                >
                    Fahrenheit to Celsius
                </mat-radio-button>
                <mat-radio-button
                    value="celsius"
                >
                    Celsius to Fahrenheit
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
        <button
            mat-mini-fab
            (click)="convertTemperature()"
        >
            Convert
        </button>
        <h3>
            Converted Temperature: {{ convertedTemperature }}&deg;
            {{ conversionType === 'fahrenheit' ? 'Celsius' : 'Fahrenheit'}}
        </h3>
    </mat-card-content>
</mat-card>