<mat-card>
    <mat-card-title>
        Timothy's Size Component
    </mat-card-title>
    <mat-card-content>
        <mat-radio-group aria-label="Select an option" class="display-flex">
            <mat-radio-button value="12">12 inch</mat-radio-button>
            <mat-radio-button value="14">14 inch</mat-radio-button>
            <mat-radio-button value="16">12 inch</mat-radio-button>
            <mat-radio-button value="18">14 inch</mat-radio-button>
          </mat-radio-group>
          
    </mat-card-content>

</mat-card>
